#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!DOCTYPE html>
<html lang="en" ng-app="StarterApp">
<head>
<link rel="stylesheet"
	href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.0.9/angular-material.css">
<link rel="stylesheet" href="./resources/css/app.css">
</head>
<body  ng-controller="AppCtrl">
<div layout="row" class="index-content" ng-if="authenticated">
		<md-sidenav layout="column"
			class="md-sidenav-left md-whiteframe-z3 size-sidenav"
			md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
		<md-toolbar
			class="md-toolbar-tools md-tall-custom md-hue-1 md-whiteframe-z3 md-custom-theme">
		<h1>LOGO</h1>
		</md-toolbar> <md-list> <md-subheader>Menu</md-subheader> <md-button
			ng-repeat="item in menu" 
			ui-sref-active="md-warn" ui-sref="{{item.link}}" > <ng-md-icon
			icon="{{item.icon}}" class="button-menu"></ng-md-icon>{{item.title}}
		</md-button> </md-list>   </md-sidenav>
		<div layout="column" class="relative" layout-fill role="main">
			<md-toolbar>
			<div class="md-toolbar-tools md-tall-custom md-whiteframe-z3">
				<md-menu md-offset="10 65"> <md-button
					class="md-icon-button" ng-click="$mdOpenMenu($event)">
				<ng-md-icon class="button-menu" icon="more_vert"></ng-md-icon> </md-button> <md-menu-content
					width="4"> <md-menu-item> <md-button> <ng-md-icon
					class="button-menu" icon="assignment_ind" md-menu-align-target></ng-md-icon>
				Meus Dados </md-button> </md-menu-item> <md-menu-divider></md-menu-divider> <md-menu-item>
				<md-button ng-click="logout()"> <ng-md-icon
					class="button-menu" icon="exit_to_app"></ng-md-icon> Logout </md-button> </md-menu-item> </md-menu-content> </md-menu>
			</div>
			</md-toolbar>
			<md-content flex class="md-padding page-content">
			<div  ui-view></div>
			</md-content>
		</div>
</div>

<div ui-view class="index-content" ng-if="!authenticated"></div>


	<!-- Angular Material Dependencies -->
	<script
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.9/angular-material.min.js"></script>
	<script
		src="http://cdn.jsdelivr.net/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>

	<script src="./resources/js/angular-ui-router.js"></script>
	<script src="./resources/js/app.js"></script>
	<script src="./resources/js/appController.js"></script>
	<script src="./resources/js/loginController.js"></script>
	<script src="./resources/js/appConfig.js"></script>
	

</body>
</html>
